body { /* estilizando o body */
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body img { /*estilizando as imagens do body */
    border-radius: 20px; /* alterando a borda da imagem */
    display: block; /* bloqueando a posicao da imagem */
    width: 50%; /* diminuindo um pouco a imagem */
    height: 50%; /* alterando um pouco a altura da imagem */
    margin: 0 auto; /* automatizando a distancia da margem */ 
}
.imgbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header {
    color: blue;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size: 50px;
    background-color: antiquewhite;
    padding: 2rem;
    border-top: 0;
    cursor: pointer;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: black;
    width: 80%;
    display: inline-block;    
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 20px;
    font-size: 1rem;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 2rem;
    display: inline-block;
}
.seriebotoes {
    margin-top: 20px;
    display: flex; /* deixando os botões soltos */
    justify-content: center; /* centralizar os botoes */
}
.seriebotoes a {
    margin: 0 5px; /* espaço entre os botões */
    display: inline-block; /* inline-block para os botões ficarem um do lado do outro */
}

.thiago {
    color:blue;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;

}
h1 {
    font-size: 40px;
    padding: 1rem 1rem;  
    background-color: blue;
    border-radius: 20px;
    width: 20%;
    display: inline-block;
    cursor: pointer;
}

.galeria {
    display: flex;
    margin: 0 auto;
}

.galeria img {
    border-radius: 25px; /* alterando a borda da imagem */
    width: 22%; /* diminuindo um pouco a imagem */
    height: 22%; /* alterando um pouco a altura da imagem */
    margin-top: 2rem;
}